@import "cssreset.less";
.order_list_wrapper{width: 790px;margin: 0 auto;
	.order_status_nav{padding: 15px 0;overflow: hidden;text-align: center;}
	.order_status_nav_item{background: #ececec;border: 1px solid #a0a0a0;border-radius: 3px;-webkit-border-radius: 3px; width: 118px;height: 78px;display: inline-block;*display:inline;*zoom:1;margin: 0 15px;}
	.s_name{font-size: 24px;display: block;text-align: center;color: red;line-height: 36px;padding-top: 8px;}
	.s_num{font-size: 22px;display: block;text-align: center;}
	.my_order_tle{margin-top: 10px;font-size: 32px;line-height: 86px;text-indent: 30px;border-top: 2px solid #000;}
	.list_item{border: 1px solid #a0a0a0;margin-bottom: 10px;}
}
