@import "cssreset.less";
@import "header.less";
@import "atom.less";
.ad_wrapper{width: 1440px;height: 120px;.auto;margin-top: 10px; margin-bottom: 10px;
	img{display: block; width: 100%; height: 100%;border: none;}
}
.banner_wrap{overflow: hidden;width: 1440px; .auto;height: 400px;margin-top: 10px; margin-bottom: 10px;
	.img_list_wrap{position: relative;float: left;width: 600px; height: 400px;
		.img_item{position: absolute;width: 100%;height: 100%;left: 0;top: 0;z-index: 1;.opacity(0);.transition(opacity 1s);
			img{width: 100%;height: 100%;display: block;}
			.img_tle_wrap{position: absolute;z-index: 2;width: 100%;height: 80px;left: 0;bottom: 0;background: rgba(0,0,0,.5);font-size: 30px;font-weight: bolder;text-align: center;line-height: 80px;color: #fff;}
			&.act{.opacity(100);z-index: 2;}
		}
	}
	.tle_list_wrap{float: left;width: 610px;height: 400px;
		.tle_item{height: 66px;line-height: 66px;background: #f2f3f7;font-size: 22px;margin-bottom: 1px;text-indent: 50px;cursor: pointer;position: relative;
			.tle_txt{border-left: 5px solid #000;padding-left: 10px;}
			&.act{background: #fff;.red;
				.tle_txt{border-color: transparent;}
				&:after{
					content:"";
					position: absolute;
					z-index: 2;
					left: -66px;
					top: 0px;
					border: 33px solid transparent;
					border-right-color: #fff;
				}
			}
		}
	}
	.love_car_tools_wrap{
		float: right;width: 208px;height: 398px;border: 1px solid @red; overflow: hidden;.bgred;
		.love_car_tle_wrap{overflow: hidden;padding-top: 5px;padding-left: 5px;
			p{background:#f2f3f7; float: left;font-size: 18px;font-weight: bolder;line-height: 30px;padding: 0 5px;}
		}
		.love_car_list{background: #fff;
			li{border-top: 1px solid #fff;line-height: 72px;text-align: center;background:#f2f3f7;margin-top: -1px; 
				a{color: #000;}
			}
		}
	}
}
.import_intro_wrap{width: 1440px;height: 370px;.auto;margin-top: 10px; margin-bottom: 10px;color: #fff;background: #000;overflow: hidden;
	h3{line-height: 60px;font-size: 28px;text-indent: 20px;}
	.import_intro_list{text-align: center;font-size: 0;
		.import_intro_item{.i-block();width: 330px; text-align: left;margin: 0 15px;
			img{width: 100%; height: 220px; display: block;}
			p{line-height: 35px;font-size: 20px;padding: 0 10px;margin-top: 10px;color: #fff;}
			a{color: #fff;}
		}
	}
}

.main_tab_wrap{width: 1440px;height: 2560px;.auto;margin-top: 10px; margin-bottom: 10px;
	.tab_wrap{.bgred;height: 50px;font-size: 30px;overflow: hidden;padding-left: 20px;
		.tab_item{float: left;padding: 0 40px;line-height: 45px;margin-top: 5px;color: #fff;
			&.act{color: #000;background: #fff;}
		}
	}
	.content_wrap_l{float: left;width: 970px;height: 2500px;overflow: auto;
		.tab_con_wrap{display: none;
			&.act{display: block;}
		}
		.tab_con_item{padding: 10px 10px 10px 30px;margin-top: 10px;background: #f2f3f7;overflow: hidden;height: 220px;position: relative;
			.tab_con_img{width: 330px;height: 220px;float: left;margin-right: 20px;}
			.hot_icon{position: absolute;top: 20px;left: 10px;.newIcon();background-position: -100px 0;width: 85px;height: 40px;line-height: 28px;color: #fff;text-indent: 5px;font-size: 14px;}
			.tab_con_tle{font-size: 28px;line-height: 48px;}
			.tab_con_p{color:#6c6c6c;font-size: 16px;line-height: 24px;text-indent: 24px;height: 128px;overflow: hidden;}
			.share_wrap{font-size: 16px;color: #b2b2b2;line-height: 28px;
				a{margin-left: 5px;vertical-align: middle;}
				.right_f{float: right;vertical-align: middle;line-height: 38px;}
				.left_f{float: left;vertical-align: middle;height: 38px;line-height: 38px;}
				.share_logo{margin-right: 5px;}
				.reply_icon{margin-right: 5px;}
			}
			
		}
	}
	.content_wrap_r{float: right;width: 400px;
		.con_r_wrap{.bgred;margin-top: 10px;margin-bottom: 10px; height: 638px;border: 1px solid @red;
			h4{height: 50px;overflow: hidden;
				span{margin-left: 10px;margin-top: 5px;line-height: 48px;background: #f2f3f7;font-size: 24px;padding: 0 50px;line-height: 45px;float: left;}
			}
			.list_wrap{background:#f2f3f7; text-align: center;
				.item{width: 180px;.i-block();margin-top: 20px;margin-bottom: 5px;
					img{display: block;width: 180px;height: 120px;}
					p{font-size: 12px;line-height: 50px;}
				}
			}
			.ul_wrap{padding: 5px 5px 20px 5px; background:#fff; text-align: center;
				.item{margin-top: 20px;overflow: hidden;
					img{float: left;width: 180px;height: 120px;border: none;}
					p{float: left;background:#f2f3f7;font-size: 36px;line-height: 120px;height: 120px;width: 204px; }
				}
			}
		}
		.r_ad{margin-top: 10px;margin-bottom: 10px;
			img{width: 400px;height: 120px;display: block;}
		}
	}
}
.list_tab_wrap{width: 1440px;.auto;margin-top: 10px; margin-bottom: 10px;
	.tab_wrap{.bgred;height: 50px;font-size: 30px;overflow: hidden;padding-left: 20px;
		.tab_item{float: left;padding: 0 40px;line-height: 45px;margin-top: 5px;color: #fff;
			&.act{color: #000;background: #fff;}
		}
	}
	.con_wrap{
		.con_item_list{display: none;text-align: center;
			.con_item{.i-block;margin: 20px 10px;background: #f2f3f7;padding-bottom: 20px;
				width: 330px;
				img{display: block;width: 100%;height: 220px;}
				.con_p{font-size: 28px;line-height: 35px;height: 70px; padding: 0 10px; text-align: left;word-break:break-all;margin: 10px 0;font-weight: bolder;
					a{color: inherit;}
				}
				.share_wrap{font-size: 16px;color: #b2b2b2;line-height: 28px;text-align: left;padding-left: 10px;
					a{margin-left: 5px;}
					.share_logo{margin-right: 5px;}
				}
			}
			&.act{display: block;}
		}
	}
}
