html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
blockquote,
pre,
form,
fieldset,
table,
th,
td,
map {
  margin: 0;
  padding: 0;
}
button {
  outline: none;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:link,
a:hover,
a:active,
a:visited {
  color: #00f9c6;
}
img {
  border: none;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  font-size: .24rem;
  font-family: Arial;
  color: #00f9c6;
}
.main_container,
.page_container,
#share_masker {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.main_container {
  overflow: hidden;
  z-index: 1;
}
#share_masker {
  z-index: 10;
  background: rgba(0, 0, 0, 0.8) url("../image/share_tip.png") no-repeat right top;
  background-size: 3.4rem;
  display: none;
}
.page_item {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.page_item:before {
  content: '';
  position: absolute;
  left: .42rem;
  right: .42rem;
  top: .36rem;
  bottom: .36rem;
  border: 0.03rem solid #00f9c6;
}
.page_item:after {
  content: '';
  position: absolute;
  left: .27rem;
  right: .27rem;
  top: .22rem;
  bottom: .22rem;
  border: 0.06rem solid #00f9c6;
}
.page_item p {
  font-size: .3rem;
  white-space: nowrap;
}
.page_item:nth-child(1) {
  padding-left: 1.22rem;
  background: url("../image/bg1.png") no-repeat center center;
  background-size: 100% 100%;
}
.page_item:nth-child(1) .logo {
  width: 5.45rem;
  height: 3.24rem;
  background: url("../image/main_logo.png") no-repeat center center;
  background-size: 100% 100%;
  margin-top: 1.4rem;
  margin-bottom: .64rem;
}
.page_item:nth-child(1) .dot_line {
  width: 4.2rem;
  height: .1rem;
  margin-bottom: .12rem;
  font-size: 0;
  position: relative;
}
.page_item:nth-child(1) .dot_line > div {
  display: inline-block;
  height: .04rem;
  width: .02rem;
  border: 1px solid #00f9c6;
  background: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  animation: flyRight 4s ease-in 0s infinite normal none;
  -webkit-animation: flyRight 4s ease-in 0s infinite normal none;
}
.page_item:nth-child(1) .dot_line > div:nth-child(1) {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}
.page_item:nth-child(1) .dot_line > div:nth-child(2) {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
.page_item:nth-child(1) .dot_line > div:nth-child(3) {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}
.page_item:nth-child(1) .dot_line > div:nth-child(4) {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
.page_item:nth-child(1) .dot_line > div:nth-child(5) {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
.page_item:nth-child(1) .dot_line > div:nth-child(6) {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
.page_item:nth-child(1) .dot_line > div:nth-child(7) {
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
}
.page_item:nth-child(1) .dot_line > div:nth-child(8) {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
.page_item:nth-child(1) .dot_line > div:nth-child(9) {
  animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
}
.page_item:nth-child(1) .dot_line > div:nth-child(10) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.page_item:nth-child(1) .dot_line > div:nth-child(11) {
  animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s;
}
.page_item:nth-child(1) .dot_line > div:nth-child(12) {
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}
.page_item:nth-child(1) .dot_line > div:nth-child(13) {
  animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
}
.page_item:nth-child(1) .dot_line > div:nth-child(14) {
  animation-delay: 1.4s;
  -webkit-animation-delay: 1.4s;
}
.page_item:nth-child(1) .dot_line > div:nth-child(15) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.page_item:nth-child(1) .dot_line > div:nth-child(16) {
  animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
}
.page_item:nth-child(1) .dot_line > div:nth-child(17) {
  animation-delay: 1.7s;
  -webkit-animation-delay: 1.7s;
}
.page_item:nth-child(1) .dot_line > div:nth-child(18) {
  animation-delay: 1.8s;
  -webkit-animation-delay: 1.8s;
}
.page_item:nth-child(1) .dot_line > div:nth-child(19) {
  animation-delay: 1.9s;
  -webkit-animation-delay: 1.9s;
}
.page_item:nth-child(1) .dot_line > div:nth-child(20) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.page_item:nth-child(1) .p1_con1 {
  width: 3.31rem;
  height: .59rem;
  background: url("../image/p1_con1.png") no-repeat center center;
  background-size: 100% 100%;
}
.page_item:nth-child(1) p {
  line-height: .56rem;
}
.page_item:nth-child(2) {
  padding-left: 1.2rem;
  padding-right: .8rem;
  background: url("../image/bg2.png") no-repeat center center;
  background-size: 100% 100%;
}
.page_item:nth-child(2) .logo {
  width: 1.28rem;
  height: .5rem;
  background: url("../image/main_logo.png") no-repeat center top;
  background-size: 100%;
  top: .67rem;
  left: 5.43rem;
  position: absolute;
}
.page_item:nth-child(2) .txtr {
  text-align: right;
}
.page_item:nth-child(2) .f30 {
  line-height: .42rem;
}
.page_item:nth-child(2) p {
  line-height: .42rem;
}
.page_item:nth-child(3) {
  padding-left: 1.2rem;
  background: url("../image/bg3.png") no-repeat center center;
  background-size: 100% 100%;
  padding-right: 1.3rem;
}
.page_item:nth-child(3) .logo {
  width: 3rem;
  height: 1.79rem;
  background: url("../image/main_logo.png") no-repeat center center;
  background-size: 100% 100%;
  margin-top: 1.1rem;
}
.page_item:nth-child(3) .border_l {
  border-left: 1px solid #00f9c6;
  margin-left: -0.1rem;
  text-indent: .1rem;
}
.page_item:nth-child(3) .f76 {
  color: #fff;
  line-height: 1.08rem;
}
.page_item:nth-child(4) {
  padding-left: 1.2rem;
  background: url("../image/bg4.png") no-repeat center center;
  background-size: 100% 100%;
  padding-right: 1.3rem;
}
.page_item:nth-child(4) .logo {
  width: 1.28rem;
  height: .5rem;
  background: url("../image/main_logo.png") no-repeat center top;
  background-size: 100%;
  top: .67rem;
  left: 5.43rem;
  position: absolute;
}
.page_item:nth-child(4) p {
  line-height: .56rem;
}
.page_item:nth-child(4) .l64 {
  line-height: .64rem;
}
.page_item:nth-child(4) .u_white {
  color: #fff;
  text-decoration: underline;
}
.page_item:nth-child(4) .white {
  color: #fff;
}
.page_item:nth-child(4) .border_a {
  text-indent: .2rem;
  line-height: .36rem;
}
.page_item:nth-child(5) {
  background: url("../image/bg5.png") no-repeat center center;
  background-size: 100% 100%;
}
.page_item:nth-child(6) {
  background: url("../image/bg6.png") no-repeat center center;
  background-size: 100% 100%;
}
.page_item:nth-child(7) {
  background: url("../image/bg7.png") no-repeat center center;
  background-size: 100% 100%;
}
.page_item:nth-child(5),
.page_item:nth-child(6),
.page_item:nth-child(7) {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
.page_item:nth-child(5) .logo,
.page_item:nth-child(6) .logo,
.page_item:nth-child(7) .logo {
  width: 1.28rem;
  height: .5rem;
  background: url("../image/main_logo.png") no-repeat center top;
  background-size: 100%;
  top: .67rem;
  left: 5.43rem;
  position: absolute;
}
.page_item:nth-child(5) .border_a,
.page_item:nth-child(6) .border_a,
.page_item:nth-child(7) .border_a {
  padding: .04rem .1rem;
}
.page_item:nth-child(5) .border_l,
.page_item:nth-child(6) .border_l,
.page_item:nth-child(7) .border_l {
  border-left: 1px solid #00f9c6;
  margin-left: -0.1rem;
  text-indent: .1rem;
  margin-top: .7rem;
}
.page_item:nth-child(5) .f76,
.page_item:nth-child(6) .f76,
.page_item:nth-child(7) .f76 {
  color: #fff;
  line-height: 1.08rem;
}
.page_item:nth-child(8) {
  padding-left: 1.2rem;
  background: url("../image/bg8.png") no-repeat center center;
  background-size: 100% 100%;
  padding-right: 1.1rem;
}
.page_item:nth-child(8) .logo {
  width: 3rem;
  height: 1.79rem;
  background: url("../image/main_logo.png") no-repeat center center;
  background-size: 100% 100%;
  margin-top: 1.1rem;
}
.page_item:nth-child(8) .white {
  font-size: .3rem;
  line-height: .42rem;
  margin-top: .6rem;
  color: #fff;
}
.page_item:nth-child(8) .txtc {
  font-size: .24rem;
  text-align: center;
  margin-top: .2rem;
}
.page_item:nth-child(8) p {
  line-height: .36rem;
}
.page_item:nth-child(8) .btn_wrapper {
  text-align: center;
  margin-top: .6rem;
}
.page_item:nth-child(8) .btn {
  width: 2rem;
  text-align: center;
  line-height: .64rem;
  border: 1px solid #00f9c6;
  display: inline-block;
  margin: 0 .16rem;
  background: rgba(0, 249, 198, 0.16);
}
.page_item .fw {
  color: #fff;
}
.page_item .border_a {
  border: 1px solid #00f9c6;
}
.page_item .l36 {
  line-height: .36rem;
}
.page_item .l42 {
  line-height: .42rem;
}
.page_item .mt140 {
  margin-top: 1.4rem;
}
.page_item .mt50 {
  margin-top: .5rem;
}
.page_item .mt20 {
  margin-top: .2rem;
}
.page_item .mt28 {
  margin-top: .28rem;
}
.page_item .f30 {
  font-size: .3rem;
}
.page_item .f40 {
  font-size: .4rem;
}
.page_item .f48 {
  font-size: .48rem;
}
.page_item .f80 {
  font-size: .8rem;
}
.page_item .f76 {
  font-size: .76rem;
}
.page_item .f32 {
  font-size: .32rem;
}
.page_item .f24 {
  font-size: .24rem;
}
#turn_page_tip {
  position: fixed;
  bottom: .8rem;
  width: 100%;
  left: 0;
  text-align: center;
  opacity: 0;
  transition: all 0.6s;
  -moz-transition: all 0.6s;
  /* Firefox 4 */
  -webkit-transition: all 0.6s;
  /* Safari 和 Chrome */
  -o-transition: all 0.6s;
}
#turn_page_tip.show {
  opacity: 1;
}
#turn_page_tip .logo {
  width: 1.14rem;
  height: .43rem;
  background: url("../image/page_logo.png") no-repeat center center;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: .16rem;
}
#turn_page_tip .circle {
  width: .12rem;
  height: .12rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #00f9c6;
  margin-top: .08rem;
  animation: lightSw 3s linear 0s infinite normal none;
  -webkit-animation: lightSw 3s linear 0s infinite normal none;
}
#turn_page_tip .circle.item1 {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
#turn_page_tip .circle.item2 {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
#turn_page_tip .circle.item3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
#turn_page_tip .db_arrow {
  width: .32rem;
  height: .34rem;
  margin-left: auto;
  margin-right: auto;
  background: url("../image/db_arrow.png") no-repeat center center;
  background-size: 100% 100%;
}
@-webkit-keyframes lightSw {
  0% {
    opacity: .4;
  }
  33% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flyRight {
  0% {
    transform: translateX(0);
    -ms-transform: translateX(0);
    /* IE 9 */
    -moz-transform: translateX(0);
    /* Firefox */
    -webkit-transform: translateX(0);
    /* Safari 和 Chrome */
    -o-transform: translateX(0);
    /* Opera */
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: translateX(4rem);
    -ms-transform: translateX(4rem);
    /* IE 9 */
    -moz-transform: translateX(4rem);
    /* Firefox */
    -webkit-transform: translateX(4rem);
    /* Safari 和 Chrome */
    -o-transform: translateX(4rem);
    /* Opera */
  }
  100% {
    opacity: 0;
    transform: translateX(4rem);
    -ms-transform: translateX(4rem);
    /* IE 9 */
    -moz-transform: translateX(4rem);
    /* Firefox */
    -webkit-transform: translateX(4rem);
    /* Safari 和 Chrome */
    -o-transform: translateX(4rem);
    /* Opera */
  }
}
