html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
blockquote,
pre,
form,
fieldset,
table,
th,
td,
map {
  margin: 0;
  padding: 0;
}
button {
  outline: none;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover,
a:active,
a:visited {
  color: #000;
}
img {
  border: none;
}
body {
  font-family: Arial;
  background: #0c0f16 url("../image/bg.jpg") no-repeat center top;
  background-size: 100%;
  font-size: 16px;
}
.countdown_container {
  margin-top: 88%;
  width: 100%;
}
.cd_tle {
  width: 50%;
  padding-top: 7.46666667%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-align: center;
  background: url("../image/cd_tle_bg.png") no-repeat center center;
  background-size: 100% auto;
}
.cd_item_wrapper {
  text-align: center;
  margin-top: 2.66666667%;
}
.cd_item_wrapper .cd_item,
.cd_item_wrapper .split_unit {
  display: inline-block;
}
.cd_item_wrapper .cd_item {
  width: 18%;
  padding-top: 1.33333333%;
  padding-bottom: 1.33333333%;
  background: url("../image/cd_item_bg.png") no-repeat center center;
  background-size: 100% 100%;
}
.cd_item_wrapper .time,
.cd_item_wrapper .split_unit {
  color: #fff;
  font-size: 2.625em;
}
.cd_item_wrapper .unit {
  font-size: .875em;
  color: #1985ff;
  /*margin-top: 16/7.5%;*/
}
.cd_item_wrapper .split_unit {
  vertical-align: top;
  font-size: 2em;
  margin: 0 2%;
  line-height: 214.28571429%;
}
