html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
blockquote,
pre,
form,
fieldset,
table,
th,
td,
map {
  margin: 0;
  padding: 0;
}
button {
  outline: none;
}
ul,
li {
  list-style: none;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover,
a:active,
a:visited {
  color: #000;
}
img {
  border: none;
}
.header_container {
  height: 70px;
  min-width: 1440px;
}
.header_container .header_fixed_wrapper {
  position: fixed;
  background: #f60007;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
}
.header_container .header_wrap {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
}
.header_container .header_logo {
  vertical-align: middle;
  width: 245px;
  height: 55px;
  float: left;
  margin-top: 7px;
  margin-right: 20px;
}
.header_container .nav_item {
  float: left;
  height: 70px;
  text-align: center;
  padding: 0 30px;
  position: relative;
}
.header_container .nav_item .nav_name {
  font-size: 28px;
  font-weight: bolder;
  line-height: 70px;
  position: relative;
  display: block;
}
.header_container .nav_item .nav_name:after {
  display: none;
  content: "";
  left: 50%;
  margin-left: -12px;
  bottom: 0;
  position: absolute;
  border: 14px solid transparent;
  border-bottom-color: #000;
}
.header_container .nav_item .nav_content {
  display: none;
  position: absolute;
  width: 540px;
  height: 330px;
  background: #000;
  top: 70px;
  left: 0;
  overflow: hidden;
  color: #fff;
  border: 5px solid #000;
  z-index: 99;
}
.header_container .nav_item .nav_content .s_nav_ul {
  width: 120px;
  float: left;
  padding-top: 10px;
}
.header_container .nav_item .nav_content .s_nav_ul li {
  line-height: 42px;
  font-size: 18px;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_wrap {
  position: absolute;
  top: 0;
  left: 120px;
  width: 420px;
  height: 330px;
  background: #fff;
  color: #000;
  z-index: 1;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_item {
  padding: 20px;
  text-align: left;
  font-size: 14px;
  line-height: 22px;
  overflow: hidden;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_item .share_wrap {
  color: #b2b2b2;
  line-height: 36px;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_item .share_wrap a {
  margin-left: 6px;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_item p {
  height: 70px;
  padding-top: 10px;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_item img {
  width: 180px;
  height: 120px;
  float: left;
  margin-right: 10px;
}
.header_container .nav_item .nav_content .s_nav_ul li .li_name {
  position: relative;
}
.header_container .nav_item .nav_content .s_nav_ul li .li_name:after {
  display: none;
  content: "";
  right: 0;
  top: 7px;
  position: absolute;
  border: 14px solid transparent;
  border-right-color: #fff;
}
.header_container .nav_item .nav_content .s_nav_ul li:hover .con_wrap {
  z-index: 2;
}
.header_container .nav_item .nav_content .s_nav_ul li:hover .li_name {
  color: #f60007;
}
.header_container .nav_item .nav_content .s_nav_ul li:hover .li_name:after {
  display: block;
}
.header_container .nav_item:hover .nav_name {
  color: #fff;
}
.header_container .nav_item:hover .nav_name:after {
  display: block;
}
.header_container .nav_item:hover .nav_content {
  display: block;
}
.header_container .search_wrapper {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 70px;
  float: right;
  position: relative;
}
.header_container .search_wrapper .search_input {
  width: 380px;
  background: #fff;
  border: none;
  height: 30px;
  padding: 0;
  margin: 0;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 30px;
  margin-top: 12px;
}
.header_container .search_wrapper .search_btn {
  background: #ffffff url("../img/search_icon2.png") no-repeat;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 15px;
}
.header_container .search_wrapper p {
  font-size: 12px;
  color: #cccccc;
  line-height: 24px;
  text-indent: 10px;
}
.header_container .search_wrapper p a {
  color: #cccccc;
}
.footer_container {
  margin-top: 20px;
  min-width: 1440px;
  height: 110px;
}
.footer_container .footer_container {
  background-color: #f60007;
  color: #fff;
  font-size: 16px;
  line-height: 60px;
  height: 60px;
  text-align: center;
  overflow: hidden;
}
.footer_container .footer_container .footer_wrap {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.footer_container .footer_container .footer_wrap .gotop {
  float: right;
  margin-right: 20px;
  cursor: pointer;
}
.footer_container .footer_container .footer_wrap .gotop_icon {
  margin-left: 10px;
}
.footer_container .aboutus_container {
  background: #231f20;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.footer_container .aboutus_container .aboutus_wrap {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.footer_container .aboutus_container .aboutus_wrap .goto_login {
  float: right;
  margin-right: 20px;
}
.footer_container .aboutus_container .aboutus_wrap .goto_login .login_icon {
  margin-left: 10px;
}
.footer_container .aboutus_container a {
  color: inherit;
}
.footer_container .aboutus_container .a_link {
  margin: 0 20px;
}
.footer_container a {
  color: inherit;
}
.footer_container .fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
.share_logo {
  font-size: 0;
  background: url("../img/new_icons.png") no-repeat;
  padding: 16px 14px;
  vertical-align: middle;
}
.s_weibo {
  font-size: 0;
  background: url("../img/new_icons.png") no-repeat;
  padding: 15px;
  background-position: 0 -50px;
  vertical-align: middle;
}
.s_weibo:hover {
  background-position: -50px -50px;
}
.s_weixin {
  font-size: 0;
  background: url("../img/new_icons.png") no-repeat;
  padding: 15px;
  background-position: 0 -100px;
  vertical-align: middle;
}
.s_weixin:hover {
  background-position: -50px -100px;
}
.s_qzone {
  font-size: 0;
  background: url("../img/new_icons.png") no-repeat;
  padding: 15px;
  background-position: 0 -150px;
  vertical-align: middle;
}
.s_qzone:hover {
  background-position: -50px -150px;
}
.s_douban {
  font-size: 0;
  background: url("../img/new_icons.png") no-repeat;
  padding: 15px;
  background-position: 0 -200px;
  vertical-align: middle;
}
.s_douban:hover {
  background-position: -50px -200px;
}
.s_renren {
  font-size: 0;
  background: url("../img/new_icons.png") no-repeat;
  padding: 15px;
  background-position: 0 -250px;
  vertical-align: middle;
}
.s_renren:hover {
  background-position: -50px -250px;
}
.reply_icon {
  font-size: 0;
  background: url("../img/new_icons.png") no-repeat;
  padding: 8px 9px;
  background-position: -50px 0px;
  vertical-align: middle;
}
.gotop_icon {
  font-size: 0;
  background: url("../img/new_icons.png") no-repeat;
  padding: 15px;
  background-position: -300px 0;
  vertical-align: middle;
}
.login_icon {
  font-size: 0;
  background: url("../img/new_icons.png") no-repeat;
  padding: 12px 10px;
  background-position: -200px 0;
  vertical-align: middle;
}
.clear_f {
  clear: both;
  height: 0;
  *zoom: 0;
}
.bread_crumb_wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 1440px;
}
.bread_crumb_wrapper .bread_crumb_wrap {
  font-size: 20px;
  line-height: 40px;
  border-left: 15px solid #f60007;
  background: #f2f3f7;
  padding-left: 15px;
}
.header_login_wrapper {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding-top: 12px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}
.header_login_wrapper .login_icon1 {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 48px;
  height: 48px;
  padding: 0;
  font-size: 0;
  background: #231f20 url("../img/new_icons.png") no-repeat center center;
  background-position: -186px 10px;
  vertical-align: middle;
}
.normal_wrapper {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.ad_wrapper345 {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
}
.ad_wrapper345 img {
  width: 345px;
  height: 120px;
  margin: 0 5px;
}
.gzd_header {
  height: 533px;
  overflow: hidden;
  width: 1370px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.gzd_header .main_img {
  position: relative;
  float: left;
  width: 800px;
  height: 533px;
}
.gzd_header .main_img img {
  width: 100%;
  height: 100%;
  display: block;
}
.gzd_header .main_img .img_tle_wrap {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 80px;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  line-height: 80px;
  color: #fff;
}
.gzd_header .thumb_wrapper {
  float: left;
  width: 540px;
  margin-left: 20px;
}
.gzd_header .thumb_wrapper .item {
  float: left;
  width: 255px;
  height: 170px;
  margin-right: 12px;
  margin-bottom: 13px;
  position: relative;
  cursor: pointer;
}
.gzd_header .thumb_wrapper .item img {
  width: 100%;
  height: 100%;
}
.gzd_header .thumb_wrapper .item .masker {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: #000;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.gzd_header .thumb_wrapper .item.act .masker {
  display: none;
}
.gzd_shop_search {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.gzd_shop_search h3 {
  font-size: 24px;
  line-height: 48px;
  border-top: 2px solid #f60007;
  text-indent: 28px;
  background: #f2f3f7;
}
.gzd_shop_search table {
  border-collapse: collapse;
  width: 100%;
  line-height: 36px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.gzd_shop_search .tle_td {
  font-size: 20px;
  width: 100px;
  text-align: right;
  vertical-align: top;
}
.gzd_shop_search .item {
  color: #b2b2b2;
  font-size: 18px;
}
.gzd_shop_search .num {
  color: #0d298a;
}
.gzd_part2 {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.gzd_part2 h3 {
  font-size: 24px;
  line-height: 48px;
  border-top: 2px solid #f60007;
  text-indent: 28px;
  background: #f2f3f7;
}
.gzd_part2 .find_shop {
  float: left;
  width: 990px;
}
.gzd_part2 .find_shop .search_wrap {
  float: right;
  font-size: 16px;
  margin-right: 30px;
}
.gzd_part2 .find_shop .gzd_search_input {
  width: 220px;
  height: 28px;
  border: 1px solid #000;
  background: transparent url("../img/search_icon2.png") no-repeat right center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 0 30px 0 10px;
  outline: none;
}
.gzd_part2 .find_shop .map_container {
  height: 800px;
}
.gzd_part2 .find_shop .tip_c {
  text-align: center;
  line-height: 48px;
  font-size: 16px;
}
.gzd_part2 .find_shop .find_wrap h4 {
  font-size: 24px;
  line-height: 60px;
}
.gzd_part2 .find_shop .find_wrap .p_item_wrap {
  line-height: 36px;
}
.gzd_part2 .find_shop .find_wrap .p_item_wrap .item {
  color: #0d298a;
}
.gzd_part2 .find_shop .find_wrap .p_item_wrap .num {
  color: #ab2f2f;
}
.gzd_part2 .tour_wrap {
  float: right;
  width: 400px;
  border: 1px solid #f60007;
}
.gzd_part2 .tour_wrap .list_wrap .item {
  padding: 10px;
}
.gzd_part2 .tour_wrap .list_wrap .item img {
  width: 180px;
  height: 120px;
  float: left;
  margin-right: 10px;
}
.gzd_part2 .tour_wrap .list_wrap .item_con h5 {
  font-size: 18px;
  line-height: 24px;
  height: 48px;
  overflow: hidden;
  word-break: break-all;
}
.gzd_part2 .tour_wrap .list_wrap .item_con p {
  overflow: hidden;
  font-size: 12px;
  line-height: 18px;
  height: 72px;
  color: #b2b2b2;
  text-indent: 24px;
  word-break: break-all;
}
.gzd_part2 .tour_wrap .list_wrap .item_con .red_f {
  color: #f60007;
}
.gzd_part3 {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.gzd_part3 .gzd_part3_header {
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #f60007;
}
.gzd_part3 .gzd_part3_header .tle {
  float: left;
  width: 150px;
  font-size: 28px;
  background: #f60007;
  color: #fff;
  text-align: center;
}
.gzd_part3 .gzd_part3_header .nav_wrap .item {
  float: left;
  width: 132px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 24px;
  margin-left: 20px;
  text-align: center;
  line-height: 40px;
  margin-top: 5px;
  cursor: pointer;
  color: #000;
}
.gzd_part3 .gzd_part3_header .nav_wrap .item:hover,
.gzd_part3 .gzd_part3_header .nav_wrap .item.act {
  background: #f60007;
  color: #fff;
}
.gzd_part3 .list_wrap {
  float: left;
  width: 970px;
  margin: 10px;
}
.gzd_part3 .list_wrap .item {
  overflow: hidden;
  background: #f2f3f7;
  margin-bottom: 15px;
}
.gzd_part3 .list_wrap .item > img {
  float: left;
  width: 330px;
  height: 220px;
  margin: 10px;
}
.gzd_part3 .list_wrap .item .item_con {
  padding-top: 20px;
  margin-left: 360px;
}
.gzd_part3 .list_wrap .item .item_con p {
  line-height: 36px;
  font-size: 14px;
  padding-left: 20px;
  white-space: nowrap;
  background: url("../img/gzd_li1.png") no-repeat left center;
}
.gzd_part3 .list_wrap .item .item_con p.s_name {
  font-size: 20px;
}
.gzd_part3 .list_wrap .item .item_con p img {
  width: 100px;
  height: 32px;
  vertical-align: middle;
}
.gzd_part3 .gdz_part3_r {
  float: right;
  width: 400px;
  margin-top: 10px;
}
.gzd_part3 .gdz_part3_r .attention_rank {
  border: 1px solid #f60007;
}
.gzd_part3 .gdz_part3_r .attention_rank h3 {
  font-size: 24px;
  line-height: 48px;
  border-top: 2px solid #f60007;
  text-indent: 28px;
  background: #f2f3f7;
}
.gzd_part3 .gdz_part3_r .attention_rank li {
  margin: 0 20px;
  border-bottom: 1px dashed #000;
  margin-bottom: 10px;
  padding: 5px 0;
}
.gzd_part3 .gdz_part3_r .attention_rank li .rank {
  background: #b2b2b2;
  color: #fff;
  padding: 2px 5px;
  margin-right: 10px;
}
.gzd_part3 .gdz_part3_r .attention_rank li .rank_red {
  background: #a40000;
}
.gzd_part3 .gdz_part3_r .attention_rank li h5 {
  font-size: 20px;
  line-height: 56px;
}
.gzd_part3 .gdz_part3_r .attention_rank li p {
  padding-left: 40px;
  line-height: 32px;
}
.gzd_part3 .gdz_part3_r .attention_rank li p .rank_star {
  height: 20px;
  width: 16px;
  margin-right: 2px;
  vertical-align: middle;
}
.gzd_part3 .gdz_part3_r .new_come {
  border: 1px solid #f60007;
  margin-top: 10px;
}
.gzd_part3 .gdz_part3_r .new_come h3 {
  font-size: 24px;
  line-height: 48px;
  border-top: 2px solid #f60007;
  text-indent: 28px;
  background: #f2f3f7;
}
.gzd_part3 .gdz_part3_r .new_come ul {
  margin-top: 10px;
  margin-bottom: 10px;
}
.gzd_part3 .gdz_part3_r .new_come li {
  font-size: 20px;
  line-height: 42px;
  margin-left: 30px;
  list-style: disc;
}
.gzd_brand_wrap {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.gzd_brand_wrap .tab_wrap {
  background-color: #f60007;
  height: 50px;
  font-size: 30px;
  overflow: hidden;
  padding-left: 20px;
}
.gzd_brand_wrap .tab_wrap .tab_item {
  float: left;
  padding: 0 40px;
  line-height: 45px;
  margin-top: 5px;
  color: #fff;
}
.gzd_brand_wrap .tab_wrap .tab_item.act {
  color: #000;
  background: #fff;
}
.gzd_brand_wrap .brand_list {
  position: relative;
}
.gzd_brand_wrap .brand_list .con_show_wrap {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  height: 320px;
}
.gzd_brand_wrap .brand_list .con_wrap {
  width: 300%;
  overflow: hidden;
  transition: margin 1s;
  -moz-transition: margin 1s;
  /* Firefox 4 */
  -webkit-transition: margin 1s;
  /* Safari å’Œ Chrome */
  -o-transition: margin 1s;
}
.gzd_brand_wrap .brand_list .con_item {
  width: 1320px;
  font-size: 0;
  float: left;
}
.gzd_brand_wrap .brand_list .con_item .item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 30px 20px 0;
}
.gzd_brand_wrap .brand_list .con_item .item img {
  width: 180px;
  height: 70px;
}
.gzd_brand_wrap .brand_list .con_item .item p {
  font-size: 20px;
  line-height: 48px;
  text-align: center;
}
.gzd_brand_wrap .brand_list .to_left {
  width: 38px;
  height: 58px;
  position: absolute;
  background: url("../img/gzd_left.png") no-repeat;
  left: 10px;
  top: 100px;
  cursor: pointer;
}
.gzd_brand_wrap .brand_list .to_right {
  width: 38px;
  height: 58px;
  position: absolute;
  background: url("../img/gzd_right.png") no-repeat;
  right: 10px;
  top: 100px;
  cursor: pointer;
}
.gzd_brand_wrap .brand_list .count_nav {
  font-size: 0;
  position: absolute;
  width: 200px;
  text-align: center;
  left: 50%;
  bottom: 10px;
  margin-left: -100px;
}
.gzd_brand_wrap .brand_list .count_nav > div {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 20px;
  height: 20px;
  background: #CECECE;
  margin: 0 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.gzd_brand_wrap .brand_list .count_nav > div.act {
  background: #f60007;
}
