html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
blockquote,
pre,
form,
fieldset,
table,
th,
td,
map {
  margin: 0;
  padding: 0;
}
button {
  outline: none;
}
ul,
li {
  list-style: none;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover,
a:active,
a:visited {
  color: #666;
}
.header_container {
  background: #f60007;
  height: 70px;
}
.header_container .header_wrap {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
}
.header_container .header_logo {
  vertical-align: middle;
  width: 245px;
  height: 55px;
  float: left;
  margin-top: 7px;
  margin-right: 20px;
}
.header_container .nav_item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 70px;
  text-align: center;
  width: 120px;
}
.header_container .nav_item .nav_name {
  font-size: 28px;
  font-weight: bolder;
  line-height: 70px;
  position: relative;
}
.header_container .nav_item .nav_content {
  position: absolute;
}
.header_container .nav_item:hover .nav_name {
  color: #fff;
}
.header_container .nav_item:hover .nav_content {
  display: block;
}
.header_container .search_wrapper {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 70px;
}
.header_container .search_wrapper .search_input {
  width: 420px;
  background: #ffffff url("../img/search_icon2.png") no-repeat right center;
  border: none;
  height: 30px;
  padding: 0;
  margin: 0;
  outline: none;
}
.share_logo {
  font-size: 0;
  background: url("../img/new_icons.png") no-repeat;
  padding: 16px 14px;
  vertical-align: middle;
}
.s_weibo {
  font-size: 0;
  background: url("../img/new_icons.png") no-repeat;
  padding: 15px;
  background-position: 0 -50px;
}
.s_weibo:hover {
  background-position: -50px -50px;
}
.s_weixin {
  font-size: 0;
  background: url("../img/new_icons.png") no-repeat;
  padding: 15px;
  background-position: 0 -100px;
}
.s_weixin:hover {
  background-position: -50px -100px;
}
.s_qzone {
  font-size: 0;
  background: url("../img/new_icons.png") no-repeat;
  padding: 15px;
  background-position: 0 -150px;
}
.s_qzone:hover {
  background-position: -50px -150px;
}
