html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
blockquote,
pre,
form,
fieldset,
table,
th,
td,
map {
  margin: 0;
  padding: 0;
}
button {
  outline: none;
}
ul,
li {
  list-style: none;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover,
a:active,
a:visited {
  color: #000;
}
img {
  border: none;
}
.header_container {
  height: 70px;
  min-width: 1440px;
}
.header_container .header_fixed_wrapper {
  position: fixed;
  background: #f60007;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
}
.header_container .header_wrap {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
}
.header_container .header_logo {
  vertical-align: middle;
  width: 245px;
  height: 55px;
  float: left;
  margin-top: 7px;
  margin-right: 20px;
}
.header_container .nav_item {
  float: left;
  height: 70px;
  text-align: center;
  padding: 0 30px;
  position: relative;
}
.header_container .nav_item .nav_name {
  font-size: 28px;
  font-weight: bolder;
  line-height: 70px;
  position: relative;
  display: block;
}
.header_container .nav_item .nav_name:after {
  display: none;
  content: "";
  left: 50%;
  margin-left: -12px;
  bottom: 0;
  position: absolute;
  border: 14px solid transparent;
  border-bottom-color: #000;
}
.header_container .nav_item .nav_content {
  display: none;
  position: absolute;
  width: 540px;
  height: 330px;
  background: #000;
  top: 70px;
  left: 0;
  overflow: hidden;
  color: #fff;
  border: 5px solid #000;
  z-index: 99;
}
.header_container .nav_item .nav_content .s_nav_ul {
  width: 120px;
  float: left;
  padding-top: 10px;
}
.header_container .nav_item .nav_content .s_nav_ul li {
  line-height: 42px;
  font-size: 18px;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_wrap {
  position: absolute;
  top: 0;
  left: 120px;
  width: 420px;
  height: 330px;
  background: #fff;
  color: #000;
  z-index: 1;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_item {
  padding: 20px;
  text-align: left;
  font-size: 14px;
  line-height: 22px;
  overflow: hidden;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_item .share_wrap {
  color: #b2b2b2;
  line-height: 36px;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_item .share_wrap a {
  margin-left: 6px;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_item p {
  height: 70px;
  padding-top: 10px;
}
.header_container .nav_item .nav_content .s_nav_ul li .con_item img {
  width: 180px;
  height: 120px;
  float: left;
  margin-right: 10px;
}
.header_container .nav_item .nav_content .s_nav_ul li .li_name {
  position: relative;
}
.header_container .nav_item .nav_content .s_nav_ul li .li_name:after {
  display: none;
  content: "";
  right: 0;
  top: 7px;
  position: absolute;
  border: 14px solid transparent;
  border-right-color: #fff;
}
.header_container .nav_item .nav_content .s_nav_ul li:hover .con_wrap {
  z-index: 2;
}
.header_container .nav_item .nav_content .s_nav_ul li:hover .li_name {
  color: #f60007;
}
.header_container .nav_item .nav_content .s_nav_ul li:hover .li_name:after {
  display: block;
}
.header_container .nav_item:hover .nav_name {
  color: #fff;
}
.header_container .nav_item:hover .nav_name:after {
  display: block;
}
.header_container .nav_item:hover .nav_content {
  display: block;
}
.header_container .search_wrapper {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 70px;
  float: right;
  position: relative;
}
.header_container .search_wrapper .search_input {
  width: 380px;
  background: #fff;
  border: none;
  height: 30px;
  padding: 0;
  margin: 0;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 30px;
  margin-top: 12px;
}
.header_container .search_wrapper .search_btn {
  background: #ffffff url("../img/search_icon2.png") no-repeat;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 15px;
}
.header_container .search_wrapper p {
  font-size: 12px;
  color: #cccccc;
  line-height: 24px;
  text-indent: 10px;
}
.header_container .search_wrapper p a {
  color: #cccccc;
}
.footer_container {
  margin-top: 20px;
  min-width: 1440px;
  height: 110px;
}
.footer_container .footer_container {
  background-color: #f60007;
  color: #fff;
  font-size: 16px;
  line-height: 60px;
  height: 60px;
  text-align: center;
  overflow: hidden;
}
.footer_container .footer_container .footer_wrap {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.footer_container .footer_container .footer_wrap .gotop {
  float: right;
  margin-right: 20px;
  cursor: pointer;
}
.footer_container .footer_container .footer_wrap .gotop_icon {
  margin-left: 10px;
}
.footer_container .aboutus_container {
  background: #231f20;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.footer_container .aboutus_container .aboutus_wrap {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.footer_container .aboutus_container .aboutus_wrap .goto_login {
  float: right;
  margin-right: 20px;
}
.footer_container .aboutus_container .aboutus_wrap .goto_login .login_icon {
  margin-left: 10px;
}
.footer_container .aboutus_container a {
  color: inherit;
}
.footer_container .aboutus_container .a_link {
  margin: 0 20px;
}
.footer_container a {
  color: inherit;
}
.footer_container .fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
.share_logo {
  font-size: 0;
  background: url("../img/new_icons.png") no-repeat;
  padding: 16px 14px;
  vertical-align: middle;
}
.s_weibo {
  font-size: 0;
  background: url("../img/new_icons.png") no-repeat;
  padding: 15px;
  background-position: 0 -50px;
  vertical-align: middle;
}
.s_weibo:hover {
  background-position: -50px -50px;
}
.s_weixin {
  font-size: 0;
  background: url("../img/new_icons.png") no-repeat;
  padding: 15px;
  background-position: 0 -100px;
  vertical-align: middle;
}
.s_weixin:hover {
  background-position: -50px -100px;
}
.s_qzone {
  font-size: 0;
  background: url("../img/new_icons.png") no-repeat;
  padding: 15px;
  background-position: 0 -150px;
  vertical-align: middle;
}
.s_qzone:hover {
  background-position: -50px -150px;
}
.s_douban {
  font-size: 0;
  background: url("../img/new_icons.png") no-repeat;
  padding: 15px;
  background-position: 0 -200px;
  vertical-align: middle;
}
.s_douban:hover {
  background-position: -50px -200px;
}
.s_renren {
  font-size: 0;
  background: url("../img/new_icons.png") no-repeat;
  padding: 15px;
  background-position: 0 -250px;
  vertical-align: middle;
}
.s_renren:hover {
  background-position: -50px -250px;
}
.reply_icon {
  font-size: 0;
  background: url("../img/new_icons.png") no-repeat;
  padding: 8px 9px;
  background-position: -50px 0px;
  vertical-align: middle;
}
.gotop_icon {
  font-size: 0;
  background: url("../img/new_icons.png") no-repeat;
  padding: 15px;
  background-position: -300px 0;
  vertical-align: middle;
}
.login_icon {
  font-size: 0;
  background: url("../img/new_icons.png") no-repeat;
  padding: 12px 10px;
  background-position: -200px 0;
  vertical-align: middle;
}
.clear_f {
  clear: both;
  height: 0;
  *zoom: 0;
}
.bread_crumb_wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 1440px;
}
.bread_crumb_wrapper .bread_crumb_wrap {
  font-size: 20px;
  line-height: 40px;
  border-left: 15px solid #f60007;
  background: #f2f3f7;
  padding-left: 15px;
}
.header_login_wrapper {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding-top: 12px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}
.header_login_wrapper .login_icon1 {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 48px;
  height: 48px;
  padding: 0;
  font-size: 0;
  background: #231f20 url("../img/new_icons.png") no-repeat center center;
  background-position: -186px 10px;
  vertical-align: middle;
}
.tuji_container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.tuji_container h1 {
  line-height: 80px;
  color: #000;
  font-size: 34px;
  text-align: center;
  margin-top: 10px;
}
.tuji_container h1 a {
  color: inherit;
}
.tuji_container .tuji_tle_desc {
  text-align: right;
  font-size: 20px;
  color: #b2b2b2;
  line-height: 48px;
}
.tuji_container .tuji_tle_desc a {
  color: inherit;
}
.tuji_container .tuji_footer {
  font-size: 18px;
  text-align: center;
  margin: 40px 0;
}
.tuji_container .tuji_footer .footer_span {
  color: #b2b2b2;
  padding: 0 90px;
  background: #e5e5e5;
  line-height: 60px;
  height: 60px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.tuji_container .tuji_footer .footer_span .con_tle {
  color: #0d29a0;
}
.tuji_container .tuji_img_list {
  font-size: 0;
}
.tuji_container .tuji_img_list img {
  width: 239px;
  height: 159px;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}
.tuji_pop_win {
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.tuji_pop_win .pop_win_con {
  width: 1290px;
  height: 770px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -645px;
  margin-top: -385px;
  overflow: hidden;
  background: #f2f3f7;
}
.tuji_pop_win .left_con {
  float: left;
  width: 800px;
  height: 100%;
  background: #231f20;
}
.tuji_pop_win .left_con .main_img {
  display: block;
  width: 800px;
  height: 533px;
}
.tuji_pop_win .left_con .op_wrapper {
  height: 80px;
  line-height: 80px;
  color: #fff;
  font-size: 20px;
}
.tuji_pop_win .left_con .op_wrapper .to_left {
  float: left;
  height: 80px;
  cursor: pointer;
  padding-left: 60px;
  margin-left: 80px;
  background: url("../img/pop_to_left1.png") no-repeat 0 center;
}
.tuji_pop_win .left_con .op_wrapper .to_right {
  float: right;
  height: 80px;
  cursor: pointer;
  padding-right: 60px;
  margin-right: 80px;
  background: url("../img/pop_to_right1.png") no-repeat right center;
}
.tuji_pop_win .left_con .thumb_wrapper {
  width: 740px;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  position: relative;
  overflow: hidden;
}
.tuji_pop_win .left_con .thumb_wrapper .thumb_list {
  width: 10000%;
  font-size: 0;
  transition: margin 0.5s;
  -moz-transition: margin 0.5s;
  /* Firefox 4 */
  -webkit-transition: margin 0.5s;
  /* Safari å’Œ Chrome */
  -o-transition: margin 0.5s;
}
.tuji_pop_win .left_con .thumb_wrapper .thumb_list img {
  width: 180px;
  height: 120px;
  margin-right: 5px;
  cursor: pointer;
}
.tuji_pop_win .left_con .thumb_wrapper .thumb_list img:hover,
.tuji_pop_win .left_con .thumb_wrapper .thumb_list img.act {
  border: 5px solid #fff;
  box-sizing: border-box;
  cursor: default;
}
.tuji_pop_win .left_con .thumb_wrapper .to_left {
  background: rgba(0, 0, 0, 0.5) url("../img/pop_to_left2.png") no-repeat center center;
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 100%;
  cursor: pointer;
}
.tuji_pop_win .left_con .thumb_wrapper .to_right {
  background: rgba(0, 0, 0, 0.5) url("../img/pop_to_right2.png") no-repeat center center;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  cursor: pointer;
}
.tuji_pop_win .right_con {
  float: right;
  width: 490px;
  height: 100%;
}
.tuji_pop_win .right_con .detail_wrap {
  overflow: auto;
  height: 100%;
  padding: 0 30px;
}
.tuji_pop_win .right_con .share_info {
  line-height: 90px;
  border-bottom: 1px dashed #959595;
  text-align: right;
}
.tuji_pop_win .right_con .pop_tle {
  font-size: 28px;
  line-height: 42px;
}
.tuji_pop_win .right_con .pop_con {
  color: #b2b2b2;
  font-size: 14px;
  line-height: 24px;
  text-indent: 28px;
}
.tuji_pop_win .comment_wrapper {
  background: #f2f3f7;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 20px;
}
.tuji_pop_win .comment_wrapper .login_wrapper {
  font-size: 20px;
  line-height: 42px;
}
.tuji_pop_win .comment_wrapper .login_wrapper a {
  margin-left: 20px;
}
.tuji_pop_win .comment_wrapper .input_wrapper {
  overflow: hidden;
}
.tuji_pop_win .comment_wrapper .input_wrapper .head_img {
  float: left;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}
.tuji_pop_win .comment_wrapper .input_wrapper .comment_area {
  resize: none;
  width: 340px;
  float: left;
  height: 120px;
  border: 1px solid #b2b2b2;
  margin-left: 5px;
  font-size: 16px;
  padding: 10px;
  outline: none;
}
.tuji_pop_win .comment_wrapper .input_wrapper .op_wrapper {
  line-height: 28px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #b2b2b2;
}
.tuji_pop_win .comment_wrapper .input_wrapper .op_wrapper .emoji_label {
  margin-right: 20px;
}
.tuji_pop_win .comment_wrapper .input_wrapper .op_wrapper .emoji_label .emoji_logo {
  background: url("../img/new_icons.png") no-repeat;
  padding: 3px 10px;
  background-position: -100px -50px;
  vertical-align: middle;
}
.tuji_pop_win .comment_wrapper .input_wrapper .op_wrapper .emoji_label:hover .emoji_logo {
  background-position: -150px -50px;
}
.tuji_pop_win .comment_wrapper .input_wrapper .op_wrapper .sync_weibo_label input {
  vertical-align: middle;
}
.tuji_pop_win .comment_wrapper .input_wrapper .op_wrapper .publish_btn {
  float: right;
  font-size: 16px;
  font-weight: bolder;
  width: 60px;
  height: 28px;
  border: 1px solid #b2b2b2;
  background: #f2f3f7;
  color: #b2b2b2;
  margin-right: 20px;
  cursor: pointer;
}
.tuji_pop_win .comment_wrapper .comment_list {
  margin: 10px 20px;
  overflow: hidden;
}
.tuji_pop_win .comment_wrapper .comment_list li {
  overflow: hidden;
  border-top: 1px dashed #b2b2b2;
  margin-top: -1px;
  padding: 20px 0;
}
.tuji_pop_win .comment_wrapper .comment_list li .head_img {
  float: left;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}
.tuji_pop_win .comment_wrapper .comment_list li .comment_con_wrapper {
  float: left;
  margin-left: 5px;
  width: 340px;
}
.tuji_pop_win .comment_wrapper .comment_list li .comment_con_wrapper .tle {
  line-height: 18px;
  margin-bottom: 6px;
}
.tuji_pop_win .comment_wrapper .comment_list li .comment_con_wrapper .tle .name_span {
  font-size: 18px;
}
.tuji_pop_win .comment_wrapper .comment_list li .comment_con_wrapper .tle .date_span {
  font-size: 12px;
  color: #b2b2b2;
}
.tuji_pop_win .comment_wrapper .comment_list li .comment_con_wrapper .con {
  font-size: 14px;
  line-height: 22px;
}
.tuji_pop_win .comment_wrapper .comment_list li .commnet_op {
  text-align: right;
}
.tuji_pop_win .comment_wrapper .comment_list li .commnet_op .split_line {
  border-left: 1px solid #000;
  margin: 0 5px;
}
.tuji_pop_win .comment_wrapper .comment_list li .commnet_op a {
  color: #000;
}
