@import "../common.less";
// @import "../animate.less";
body{font-size: .24rem;overflow:hidden;font-family: Arial;}
.transform(@x){
	transform:@x;
	-ms-transform:@x; 	/* IE 9 */
	-moz-transform:@x; 	/* Firefox */
	-webkit-transform:@x; /* Safari 和 Chrome */
	-o-transform:@x; 	/* Opera */
}
.gpu(){
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
}
.Animate(@name,@duration:2s,@timingfunction:linear,@delay:0s,@count:1,@direction:normal, @fillmode:none){
	animation:@name @duration @timingfunction @delay @count @direction @fillmode;
	-webkit-animation:@name @duration @timingfunction @delay @count @direction @fillmode;
}
.transition(@p){
  transition: @p;
  -moz-transition: @p; /* Firefox 4 */
  -webkit-transition: @p; /* Safari 和 Chrome */
  -o-transition: @p;
}
.pa(){position: absolute;}
.pr(){position: relative;}
.bgi(@url, @va:center){background: url(@url) no-repeat center @va;background-size: 100%;}
.aniDuration(@t:2s){
	animation-duration: @t;
	-webkit-animation-duration: @t;
}
.aniDelay(@t:2s){
	animation-delay: @t;
	-webkit-animation-delay: @t;
}
.fCommon(){font-size: .27rem;color: #d87b2b;width: 100%;line-height: .48rem;text-align: center;}
.shake{
	.Animate(@name:shake,@duration:2s,@timingfunction:linear,@delay:0s,@count:infinite,@direction:alternate, @fillmode:none);
}
.shake_right{
	.Animate(@name:shakeRight,@duration:2s,@timingfunction:linear,@delay:0s,@count:infinite,@direction:alternate, @fillmode:none);
}
.shake_up{
	.Animate(@name:shakeUp,@duration:2s,@timingfunction:linear,@delay:0s,@count:infinite,@direction:alternate, @fillmode:none);
}
.shake_down{
	.Animate(@name:shakeDown,@duration:2s,@timingfunction:linear,@delay:0s,@count:infinite,@direction:alternate, @fillmode:none);
}
.swing{
	.Animate(@name:swing,@duration:2s,@timingfunction:linear,@delay:0s,@count:infinite,@direction:alternate, @fillmode:none);
}
.swing_s{
	.Animate(@name:swingSheep,@duration:2s,@timingfunction:linear,@delay:0s,@count:infinite,@direction:alternate, @fillmode:none);
}
.rotate5{
	.Animate(@name:rotate5,@duration:1s,@timingfunction:linear,@delay:0s,@count:infinite,@direction:alternate, @fillmode:none);
}
.rotate10{
	.Animate(@name:rotate10,@duration:1s,@timingfunction:linear,@delay:0s,@count:infinite,@direction:alternate, @fillmode:none);
}

.main_container,#loading,#share_masker,#shake_masker{.pa;top: 0;bottom: 0;left: 0;right: 0;overflow: hidden;}
#loading{z-index: 100;text-align: center;.pa;
	.loading_light_bg{.bgi("../image/loading_bg.png");width: 3rem;height: 7.5rem;.auto;
		.loading_light{.bgi("../image/loading_light.png");width: 100%;height: 100%;.Animate(@name:lightSw,@duration:1.4s,@timingfunction:linear,@delay:0s,@count:infinite,@direction:alternate, @fillmode:none);}
	}
	.process{font-size: .28rem;color: #d7bd81;line-height: .48rem;width: 100%;}
}
#shake_masker{display: none; z-index: 99;background: rgba(0,0,0,.8) url("../image/shake_tip.png") no-repeat center center;background-size: 4rem;}
#share_masker{z-index: 98;background: rgba(0,0,0,.8) url("../image/share_tip.png") no-repeat right top;background-size: 3.4rem;display: none;}
#audio_wrapper{z-index: 40; width: .76rem;height: .76rem;.pa;top: .1rem;right: .24rem;.bgi("../image/audio_icon.png");background-position:0 -.74rem;
	&.playing{background-position: 0 0rem;.swing;}
}
.page1_wrapper{.pa;top: 0;bottom: 0;left: 0;right: 0;overflow: hidden;background:#ad5d2d url("../image/bg1.png") no-repeat center center;background-size: 100%;}
.frame_wrapper{width: 100%;height: 100%;.pa;top: 100%;left: 0;
	.p1_item{.pa;}
	.oh_wrapper{width: 100%;height: 100%;.pa;top: 0;left: 0;min-height: 12rem;
	}
}
.clock_wrapper{.pa;width: 3.22rem;height: 3.22rem;z-index: 11;top: .5rem;right: .1rem;display: none;
	.clock{.pa;width: 100%;height: 100%;left: 0;right: 0;.bgi("../image/clock_bg.png");}
	.center{.pa;width: .24rem;height: .21rem;.bgi("../image/clock_center.png");left: 50%;top: 50%;margin-left: -.12rem;margin-top: -.11rem;}
	.fenzhen{.pa;width: 2.3rem;height: 2.3rem;.bgi("../image/clock_fenzhen.png");left: 50%;margin-left: -1.15rem;top: 50%;margin-top: -1.15rem;.transition(all .8s);}
	.shizhen{.pa;width: .30rem;height: .9rem;.bgi("../image/clock_shizhen.png");left: 50%;margin-left: -.15rem;top: 50%;margin-top: -.9rem;}
	.percent{
		&33,&45,&70,&99{opacity: 0;
			.pa;.bgi("../image/clock_percent.png");background-size: 1.5rem 3rem;width: 1.06rem;height: .66rem;.transition(all .8s linear);
		}
		&33{left: 1.8rem;top: .9rem;background-position:center 0;}
		&45{left: .4rem;top: 1.8rem;background-position:center -.7rem;}
		&70{left: .4rem;top: 1rem;background-position:center -1.42rem;}
		&99{left: .4rem;top: .9rem;background-position:center -2.22rem;}
	}
	&.show33{display: block;
		.percent33{opacity: 1;}
		.fenzhen{.transform(rotate(0.33*360deg));}
	}
	&.show45{display: block;
		.percent45{opacity: 1;}
		.fenzhen{.transform(rotate(0.45*360deg));}
	}
	&.show70{display: block;
		.percent70{opacity: 1;}
		.fenzhen{.transform(rotate(0.70*360deg));}
	}
	&.show99{display: block;
		.percent99{opacity: 1;}
		.fenzhen{.transform(rotate(0.99*360deg));}
	}
}
.after_3_bg{width: 100%;height: 100%;background-color: #faf0d8;left: 0;top: 0;opacity: 0;.pa;}
.next_tip{display: none; .pa;.bgi("../image/next_tip.png");width: .74rem;height: .47rem;bottom: .2rem;left: 50%;margin-left: -.37rem;			.Animate(@name:lightSw,@duration:1s,@timingfunction:linear,@delay:0s,@count:infinite,@direction:alternate, @fillmode:none);
}
.tranlate_wrapper{height: 100%;width: 100%;.pr;
	.p1_item{
		&>div{width: 100%;height: 100%;}
	}
	.p1_f1_txt{width:3.88rem;height:4.82rem;left: 4.62-2.82rem;
		.txt1{.pa;.bgi("../image/p1_f1_txt1.png");top: 0;left: 0;}
		.txt2{.pa;.bgi("../image/p1_f1_txt2.png");top: 0;left: 0;}
	}
	.p1_f1_g1_1{.bgi("../image/p1_f1_g1_1.png");width:4.96rem;height:4.72rem;left: -2.2rem;}
	.p1_f1_g1_2{.bgi("../image/p1_f1_g1_2.png");width:2.26rem;height:3.1rem;left: 4.99-2.82rem;}
	.p1_f1_g1_3{.bgi("../image/p1_f1_g1_3.png");width:3.96rem;height:4.03rem;left: 7.28-2.82rem;}
	.p1_f1_g2_1{.bgi("../image/p1_f1_g2_1.png");width:2.83rem;height:2.77rem;left: 1.55-2.82rem;}
	.p1_f1_g2_2{.bgi("../image/p1_f1_g2_2.png");width:2.2rem;height:1.96rem;left: 9.01-2.82rem;}
	.p1_f1_g2_3{.bgi("../image/p1_f1_g2_3.png");width:4.42rem;height:4.48rem;left: 7.46-2.82rem;}
	.p1_f1_g3_1{width:3.15rem;height:4.57rem;left: 1.3-2.82rem;
		&>div{
			.bgi("../image/p1_f1_g3_1.png");
		}
	}
	.p1_f1_g3_2{.bgi("../image/p1_f1_g3_2.png");width:3.49rem;height:3.23rem;left: 3.75-2.82rem;}
	.p1_f1_g3_3{
		&>div{
			.bgi("../image/p1_f1_g3_3.png");
		}
		width:2.25rem;height:5.37rem;left: 6.72-2.82rem;
	}
	.p1_f1_g3_4{.bgi("../image/p1_f1_g3_4.png");width:3.75rem;height:3.52rem;left: 8.07-2.82rem;}
	.p1_f2_1{.bgi("../image/p1_f2_1.png");width:7.3rem;height:8.52rem;left: .2rem;}
	.p1_f2_2{.bgi("../image/p1_f2_2.png",top);width:6.8rem;height:2+9.19rem;left: .47rem;}
	.p1_f2_txt{width:4.68rem;height:4.6rem;left: 1.76rem;
		.txt1{.pa;.bgi("../image/p1_f2_txt1.png");top: 0;left: 0;}
		.txt2{.pa;.bgi("../image/p1_f2_txt2.png");top: 0;left: 0;}
	}
	.p1f2_top{.pa;.bgi("../image/p1f2_top.png");top: 0;left: 0;height: 8.8rem;width: 100%;z-index: 2;}
	.p1f2_pag{.pa;background: url("../image/p1f2_pag.png") no-repeat center top;background-size: 100%;left:2.45-1.88rem; top: 6.81-3.35rem; width: 6.01rem; height: 7rem; z-index: 1;.transition(all .6s);color: #206c52;font-size: .28rem;
		&.show{.transform(translateY(38%));height: 6.3rem;
			.pag_foot{display: none;}
		}
		.next_btn{.pa;width: .9rem;height: .9rem;left: 4.2rem;bottom: 2.1rem;}
		.head_wrapper{.pa;width: 1.58rem;height: 1.58rem;left: 3.32-2.45rem;top: 9.75-6.81rem;.border-r(50%);overflow: hidden;}
		.head_img{width: 100%;height: 100%;display: block;.auto;}
		.desc{.pa;left: 5.16-2.45rem;top: 11.10-6.81rem;}
		.pag_foot{width: 1.51rem;height: 1.72rem;.pa;top: 4.74rem;left: 4.45rem;
			&>div{display: none;width: 100%;height: 100%;
				&:nth-child(1){.bgi("../image/p1f2_page_foot_1.png");}
				&:nth-child(2){.bgi("../image/p1f2_page_foot_2.png");}
				&:nth-child(3){.bgi("../image/p1f2_page_foot_3.png");}
				&:nth-child(4){.bgi("../image/p1f2_page_foot_4.png");}
				&:nth-child(5){.bgi("../image/p1f2_page_foot_5.png");}
				&:nth-child(6){.bgi("../image/p1f2_page_foot_6.png");}
				&:nth-child(7){.bgi("../image/p1f2_page_foot_7.png");}
				&:nth-child(8){.bgi("../image/p1f2_page_foot_8.png");}
				&:nth-child(9){.bgi("../image/p1f2_page_foot_9.png");}
				&:nth-child(10){.bgi("../image/p1f2_page_foot_10.png");}
			}
		}
	}
	.p1_f2_tip{.pa;width: .97rem;height: .91rem;.bgi("../image/p1_f2_tip.png");left: 5.8rem;}

	.p1_f3_tle{width: 2.46rem;height: 1.7rem;.bgi("../image/p1_f3_tle.png");left: 6.2-1.4rem;}
	.p1_f3_lbg{width: 5.4rem;height: 100%;.bgi("../image/p1_f3_readbg.png",bottom);left: 0;overflow: hidden;
		.p1f3_hand{.bgi("../image/p1f3_hand.png");.pa;width: .81rem;height: 1.71rem;left: .12rem; bottom: 14.51-8.47rem;
			.Animate(@name:swingSheep,@duration:1s,@timingfunction:linear,@delay:0s,@count:infinite,@direction:alternate, @fillmode:none);
		}
		.p1f3_moblight{.bgi("../image/p1f3_mob_light.png");.pa;width: 4.61rem;height: 5.26rem;left: -.27rem;bottom: 14.51-9.98rem;
			.Animate(@name:lightSw,@duration:1s,@timingfunction:linear,@delay:0s,@count:infinite,@direction:alternate, @fillmode:none);
		}
		.p1f3_sheep{.bgi("../image/p1f3_sheep.png");.pa;width: 5.36rem;height: 5.33rem;left: .07rem; bottom: 14.51-15.46rem;
			.Animate(@name:swingSheep,@duration:2s,@timingfunction:linear,@delay:0s,@count:infinite,@direction:alternate, @fillmode:none);
			
		}
		.p1f3_arm{.bgi("../image/p1f3_arm.png");.pa;width: 3.06rem;height: 4.27rem;left: .44rem; bottom: 14.51-12.27rem;}
	}
	.desc_common(){word-break:break-all;word-wrap:break-word;color: #d87b2b;font-size: .26rem;left: 6.5-1.4rem;line-height: .48rem;width: 2.2rem;
		.oneline{white-space: nowrap;}
	}
	.p1_f3_desc{
		.desc_common;
	}
	.p1_f4_eat_bg_wrap{width: 4.92rem;height: 100%;left: 0;
		&:before{content:'';.pa;background-color: #a03e30;width: 4.64rem;height: 100%;left: 0;}
		.p1f4_lbg{.pa;.bgi("../image/p1_f4_eatbg.png",bottom);width: 4.89rem;height: 100%;bottom: 0;left: 0rem;
			.p1f4_air{.pa;.bgi("../image/p1f4_air.png");width:.89rem;height:1.66rem;left: 4.87-1.4rem;bottom:11.6- 3.85rem;
				.Animate(@name:lightSw,@duration:1s,@timingfunction:linear,@delay:0s,@count:infinite,@direction:alternate, @fillmode:none);
			}
			.p1f4_meat3{.pa;.bgi("../image/p1f4_meat3.png");width:1.60rem;height:1.35rem;left:3.19-1.4rem;bottom:11.6- 5.7rem;}
			.p1f4_meat2{.pa;.bgi("../image/p1f4_meat2.png");width:1.60rem;height:1.35rem;left:3.04-1.4rem;bottom:11.6- 5.37rem;}
			.p1f4_meat1{.pa;.bgi("../image/p1f4_meat1.png");width:1.60rem;height:1.35rem;left:2.85-1.4rem;bottom:11.6- 5.02rem;}
			.p1f4_spoon{.pa;.bgi("../image/p1f4_spoon.png");width:2.81rem;height:2.89rem;left:2.71-1.4rem;bottom:11.6- 10.8rem;}
		}
	}
	.p1_f4_tle{width: 2.38rem;height: 1.48rem;.bgi("../image/p1_f4_tle.png");left: 6.24-1.4rem;}
	.p1_f4_desc{.desc_common;}

	.p1_f5_lbg{width: 5.64rem;height: 100%;.bgi("../image/p1_f5_lbg.png",bottom);left: 0;
		.p1f5_book{.pa;.bgi("../image/p1f5_book.png");width:1.83rem; height:1.96rem;left: 1.5rem;bottom: 5.2rem;}
		.p1f5_light{.pa;.bgi("../image/p1f5_light.png");width:4.67rem; height:6.88rem;left: 0rem;bottom: 3.5rem;
			.Animate(@name:lightSw,@duration:2s,@timingfunction:linear,@delay:0s,@count:infinite,@direction:alternate, @fillmode:none);
		}
	}
	.p1_f5_tle{width: 2.38rem;height: 1.48rem;.bgi("../image/p1_f5_tle.png");left: 6.24-1.4rem;}
	.p1_f5_desc{.desc_common;}

	.p1_f6_lbg{width: 5rem;height: 100%;.bgi("../image/p1_f6_lbg.png",bottom);left: 0;
		.p1f6_play{.pa;.bgi("../image/p1f6_play.png");width:1rem; height:0.74rem;left: 1.7rem;bottom: 10.7rem;
			transform-origin: 70% 54%;
			-webkit-transform-origin: 70% 54%;	
		}
		.p1f6_bag1{.pa;.bgi("../image/p1f6_bag.png");width:2.47rem; height:3.1rem;left: 0.5rem;bottom: 5.2rem;}
		.p1f6_bag2{.pa;.bgi("../image/p1f6_bag.png");width:2.47rem; height:3.1rem;left: 1.5rem;bottom: 4.9rem;}
		.p1f6_bag3{.pa;.bgi("../image/p1f6_bag.png");width:2.47rem; height:3.1rem;left: 2.5rem;bottom: 4.6rem;}
		.p1f6_chat{.pa;.bgi("../image/p1f6_chat.png");width:1.38rem; height:1.32rem;left: 2.48rem;bottom: 1.6rem;}
	}
	.p1_f6_tle{width: 2.31rem;height: 1.35rem;.bgi("../image/p1_f6_tle.png");left: 6.24-1.4rem;}
	.p1_f6_desc{.desc_common;}
	.p1_f7_tle{.bgi("../image/p1_f7_tle.png");width:5.43rem;height:2.81rem;left: .9rem;}
	.p1_f7_zhentou{width:2.31rem;height:2.29rem;left: .5rem;
		&>div{.bgi("../image/p1_f7_zhentou.png");.swing_s;.aniDelay(.5s);}
	}
	.p1_f7_wan{width:2.15rem;height:2.33rem;left: 2.7rem;
		&>div{.bgi("../image/p1_f7_wan.png");.swing_s;}
	}
	.p1_f7_baozhi{width:2.06rem;height:2.63rem;left: 5rem;
		&>div{.bgi("../image/p1_f7_baozhi.png");.swing_s;.aniDelay(1s);}
	}
	.p1_f7_line1,.p1_f7_line2,.p1_f7_line3,.p1_f7_line4,.p1_f7_line5,.p1_f7_line6{.fCommon();}

	.p1_f8_tle1{.bgi("../image/p1_f8_tle1.png");width:5.11rem;height:1.06rem;left:1.3rem;}
	.p1_f8_tle2{.bgi("../image/p1_f8_tle2.png");width:4.95rem;height:.98rem;left:1.3rem;}
	.p1_f8_tle3{.bgi("../image/p1_f8_tle3.png");width:4.73rem;height:2.05rem;left:1.3rem;}
	.p1_f8_ele{.bgi("../image/p1_f8_cbg.png");width:5.35rem;height:2.53rem;left:50%;margin-left: -2.68rem;
		.ani_ele{.pa;.bgi("../image/p1_f8_cele.png");width: 1.71rem;height: 2.1rem;left: 2.6rem;top: .24rem;
			.Animate(@name:rotate5,@duration:2s,@timingfunction:linear,@delay:0s,@count:infinite,@direction:alternate, @fillmode:none);
			transform-origin:93% 20%;
			-webkit-transform-origin:93% 20%;
		}
	}
	.p1_f8_line1,.p1_f8_line2,.p1_f8_line3,.p1_f8_line4,.p1_f8_line5{.fCommon();}

	.p1_f9_head{text-align: center;width: 100%;height: 2.5rem;
		.img_wrapper{width: 1.32rem;height: 1.32rem;.border-r(50%);overflow: hidden;.auto;
			.head_img{width: 100%;height: 100%;display: block;}
		}
		.nickname{.fCommon();margin-top: .1rem;}
		p{.fCommon();font-size: .31rem;margin-top: .1rem;}
	}
	.p1_f9_tle{.bgi("../image/p1_f9_tle.png");width:3.6rem;height:2.75rem;left: 50%;margin-left: -1.8rem;}
	.p1_f9_want{.bgi("../image/p1_f9_write.png");width:3.61rem;height:2.09rem;left: 50%;margin-left: -1.8rem;text-align: center;
		.want_input{border: none;font-size: .3rem;font-weight: bolder; color:#d87b2b;height: .48rem;padding: 0;background: transparent;text-align: center;width: 3.1rem;outline: none;margin-top: .4rem;}
	}
	.p1_f9_sharebtn{.bgi("../image/p1_f9_sharebtn.png");width:3.1rem;height:1.06rem;left: 50%;margin-left: -1.55rem;}
	.p1_f9_lele{.bgi("../image/p1_f9_lele.png",bottom);width:2rem;height:2.9rem;left:.5rem;}
	.p1_f9_rele{.bgi("../image/p1_f9_rele.png",bottom);width:1.15rem;height:3.45rem;left:5.6rem;}
	.p1_f9_lele_e{width:1.3rem;height:1.72rem;left:.5rem;
		&>div{.bgi("../image/p1_f9_lele_e.png");.rotate5;
			&.stop{
				animation-play-state:paused;
				-webkit-animation-play-state:paused;
			}
		}
	}
	.p1_f9_rele_e{width:1.2rem;height:1.9rem;left:5.6rem;
		&>div{.bgi("../image/p1_f9_rele_e.png");.rotate5;
			transform-origin: left bottom;
			-webkit-transform-origin: left bottom;
			&.stop{
				animation-play-state:paused;
				-webkit-animation-play-state:paused;
			}
		}
	}
	.p1_f9_download{.bgi("../image/p1_f9_download.png");width:100%;height:1.8rem;left:0;bottom: 0;
		.close_btn{.pa;width: .8rem;height: .8rem;top: 0;right: .55rem;}
	}
}

@-webkit-keyframes shake {
  from {
    -webkit-transform: translate3d(-.2rem, 0, 0);
    transform: translate3d(-.2rem, 0, 0);
  }
  to {
    -webkit-transform: translate3d(.2rem, 0, 0);
    transform: translate3d(.2rem, 0, 0);
  }
}
@-webkit-keyframes shakeRight {
  from {
    -webkit-transform: translate3d(.2rem, 0, 0);
    transform: translate3d(.2rem, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-.2rem, 0, 0);
    transform: translate3d(-.2rem, 0, 0);
  }
}
@-webkit-keyframes shakeUp {
  from {
    -webkit-transform: translate3d(0, .2rem, 0);
    transform: translate3d(0, .2rem, 0);
  }
  to {
    -webkit-transform: translate3d(0, -.2rem, 0);
    transform: translate3d(0, -.2rem, 0);
  }
}
@-webkit-keyframes shakeDown {
  from {
    -webkit-transform: translate3d(0, -.2rem, 0);
    transform: translate3d(0, -.2rem, 0);
  }
  to {
    -webkit-transform: translate3d(0, .2rem, 0);
    transform: translate3d(0, .2rem, 0);
  }
}
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, -15deg);
    transform: rotate3d(0, 0, 1, -15deg);
  }
}
@-webkit-keyframes lightSw {
  0% {
    opacity: 0;
  }

  100% {
  	opacity: 1;
  }
}
@-webkit-keyframes swingSheep {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
}
@-webkit-keyframes rotate5 {
  0% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  100% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}
@-webkit-keyframes rotate10 {
  0% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  100% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}