@import "../common.less";
body{font-size: .24rem;overflow:hidden;}
.transform(@x){
	transform:@x;
	-ms-transform:@x; 	/* IE 9 */
	-moz-transform:@x; 	/* Firefox */
	-webkit-transform:@x; /* Safari 和 Chrome */
	-o-transform:@x; 	/* Opera */
}
.Animate(@name,@duration:2s,@timingfunction:linear,@delay:0s,@count:1,@direction:normal, @fillmode:none){
	animation:@name @duration @timingfunction @delay @count @direction @fillmode;
	-webkit-animation:@name @duration @timingfunction @delay @count @direction @fillmode;
}
.transition(@p){
  transition: @p;
  -moz-transition: @p; /* Firefox 4 */
  -webkit-transition: @p; /* Safari 和 Chrome */
  -o-transition: @p;
}
.pa(){position: absolute;}
.pr(){position: relative;}
.main_container{.pa;top: 0;bottom: 0;left: 0;right: 0;overflow: hidden;}
.page1_wrapper{.pa;top: 0;bottom: 0;left: 0;right: 0;overflow: hidden;background:#ad5d2d url("../image/bg1.png") no-repeat center center;background-size: 100%;}
.tranlate_wrapper{height: 100%;width: 100%;.transition(all .6s);}
.frame1_wrapper,.frame2_wrapper{width: 100%;height: 100%;.pr;overflow:hidden;}
.frame1_wrapper{
	.bgi(@url){background: url(@url) no-repeat center center;background-size: 100%;}
	.p1_txt,.p1_f1_g1_1,.p1_f1_g1_2,.p1_f1_g1_3,.p1_f1_g2_1,.p1_f1_g2_2,.p1_f1_g2_3,.p1_f1_g3_1,.p1_f1_g3_2,.p1_f1_g3_3,.p1_f1_g3_4{.pa;top: 100%;.transition(all 1s);}
	.p1_txt{.bgi("../image/p1_txt.png");width:3.87rem;height:4.82rem;left: 4.62-2.82rem;}
	.p1_f1_g1_1{.bgi("../image/p1_f1_g1_1.png");width:4.96rem;height:4.72rem;left: -2.2rem;}
	.p1_f1_g1_2{.bgi("../image/p1_f1_g1_2.png");width:2.26rem;height:3.1rem;left: 4.99-2.82rem;}
	.p1_f1_g1_3{.bgi("../image/p1_f1_g1_3.png");width:3.96rem;height:4.03rem;left: 7.28-2.82rem;}
	.p1_f1_g2_1{.bgi("../image/p1_f1_g2_1.png");width:2.83rem;height:2.77rem;left: 1.55-2.82rem;}
	.p1_f1_g2_2{.bgi("../image/p1_f1_g2_2.png");width:2.2rem;height:1.96rem;left: 9.01-2.82rem;}
	.p1_f1_g2_3{.bgi("../image/p1_f1_g2_3.png");width:4.42rem;height:4.48rem;left: 7.46-2.82rem;}
	.p1_f1_g3_1{.bgi("../image/p1_f1_g3_1.png");width:3.15rem;height:4.57rem;left: 1.3-2.82rem;}
	.p1_f1_g3_2{.bgi("../image/p1_f1_g3_2.png");width:3.49rem;height:3.23rem;left: 3.75-2.82rem;}
	.p1_f1_g3_3{.bgi("../image/p1_f1_g3_3.png");width:2.25rem;height:5.37rem;left: 6.72-2.82rem;}
	.p1_f1_g3_4{.bgi("../image/p1_f1_g3_4.png");width:3.75rem;height:3.52rem;left: 8.07-2.82rem;}
}
