html,body,div,object,iframe,h1,h2,h3,h4,h5,h6,p,address,em,img,samp,small,strong,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,a{margin:0;padding:0;}
body{ background: #2a1969 url(../images/shiji_bg.jpg) no-repeat center top; color: #fff; font-family:'Hiragino Sans GB', 'Microsoft Yahei', SimSun, Arial, 'Helvetica Neue', Helvetica;}
ul{list-style:none}
a{ color: #fff; text-decoration: none; }
a:hover { color: #ffb510;}
input,select{vertical-align:middle}
textarea{resize: none; outline: none;}

.yellow, .yellow a, .yellow a:hover { color: #cdf912;}
.green, .green a, .green a:hover { color: #0ee793; }
.clear { clear: both; overflow: hidden; height: 0; }

.arrow_l1,.arrow_r1,.arrow_l2,.arrow_r2{ width: 20px; height: 34px; position:absolute; cursor: pointer;}
.arrow_l1 { background:url(../images/arrow_l1.jpg) no-repeat; left: -20px; top: 80px;}
.arrow_r1 { background:url(../images/arrow_r1.jpg) no-repeat; right: -20px; top: 80px;}
.arrow_l2 { background:url(../images/arrow_l2.jpg) no-repeat; left: -20px; top: 135px; }
.arrow_r2 { background:url(../images/arrow_r2.jpg) no-repeat; right: -20px; top: 135px; }

/*吸顶导航*/
.topBox { width: 1266px; height: 836px; margin: 0 auto; position: relative; z-index: 99; }
.nav_bg { background:url(../images/nav_bg.png) no-repeat; width: 140px; height: 352px; text-align:center; position: fixed; top: 0; left:10px;}
.nav_bg .nav { padding-top: 94px; }
.nav_bg .nav li { line-height: 28px; font-size:14px; }
.nav_bg h4 { font-size: 14px; font-weight:600; line-height: 28px; }
.nav_bg .top { font-size: 12px; font-weight: bold; line-height: 68px; }

.code { background: url(../images/code.jpg) no-repeat; width: 143px; height: 167px; position: fixed; top: 190px; right: 10px; z-index: 9; }

.bjzhan { background: url(../images/bjzhan.jpg) no-repeat; width: 1200px; height: 616px; margin: 0 auto; }

.fair { background: url(../images/shiji.jpg) no-repeat 420px 0; width: 1098px; margin: 20px auto 0; padding-top: 160px; }
.fair .tab { font-size: 14px; color: #46348a; text-align:center; }
.fair .tab a { padding: 0 18px 15px; font-size: 20px; font-weight: 600; color: #0ee793; cursor:pointer;}
.fair .tab a.active { background:url(../images/arrow.png) no-repeat bottom center; color: #ffb510; }
.fair .tab a:hover { background:url(../images/arrow.png) no-repeat bottom center; color: #ffb510;  cursor:pointer;}
.fair .fair_con { position: relative; margin-top: 50px; }
.fair_con .con_show{width: 100%;overflow: hidden;}
.fair_con .con { width: 1000%; }
.fair_con .con li { background:url(../images/pic_bg.jpg) no-repeat; width: 144px; height: 174px; float: left; overflow: hidden; padding: 0 0 8px 8px; margin: 0 15px; }
.fair_con .con li a{ width: 144px; height: 174px; display: block; }
.fair_con .con li a .pic { width: 144px; height: 144px; float: left; overflow: hidden; }
.fair_con .con li a .pic img{width: 100%;height: 100%;}
.fair_con .con li a .tle { height: 30px; width: 144px; line-height:30px; text-align:center; float: left; background-color:#1b0c54; }


.all_powerful { background: url(../images/wanneng.jpg) no-repeat; width: 826px; height: 476px; margin: 50px auto 0;}
.plus { background: url(../images/plus.jpg) no-repeat; width: 912px; height: 350px; margin: 50px auto 0;}

.guest { background: url(../images/tyjb.jpg) no-repeat top center; width: 1050px; margin: 50px auto 0; padding-top: 108px; }
.guest_con { position: relative; margin-top: 20px; }
.guest_show{ width: 1030px;overflow: hidden;margin-left: auto;margin-right: auto;}
.guest_con .con { width: 1000%; }
.guest_con .con li { width: 194px; height: 315px; float: left; overflow: hidden; margin: 0 7px; }
.guest_con .con li a{ width: 194px; height: 315px; display: block; position: relative; }
.guest_con .con li a .pic { width: 194px; height: 315px; float: left; overflow: hidden; }
.guest_con .con li a .tle { width: 194px; height: 40px; line-height:40px; color: #fff; text-align:center; float: left; background-color:#0dc980; position: absolute; bottom: 0; left: 0; }
.guest_con .con li a:hover .details { width: 194px; height: 315px; background: #0dc980; color: #fff;  filter:alpha(opacity=80); opacity:0.8; float: left; position: absolute; top: 0; left: 0; }
.guest_con .con li a:hover .tle {display: none;}
.guest_con .con li .details h4 { text-align: center; font-size: 24px; }
.guest_con .con li .details p { font-size: 14px; padding-top: 15px; line-height: 22px; }

.features { background: url(../images/shijitese.jpg) no-repeat; width: 1024px; height: 425px; margin: 50px auto 0;}
.login { background: url(../images/hdbm.jpg) no-repeat 240px 0; width: 600px; margin: 50px auto 0; padding-top: 85px; }
.footer { background: #26165f; padding: 60px 0;}
.footer .partner { width: 1020px; border: 8px solid #5439ab; color: #5439ab; padding-bottom: 22px; position: relative; margin: 0 auto; }
.footer .partner h3 { width: 126px; height: 32px; text-align:center; background: #26165f; font-size: 26px; position: absolute; top: -20px; left: 445px; }
.footer .partner h4 { font-size: 16px; text-align:center; width: 100%; line-height: 30px; padding-top: 18px; }
.footer .partner .pic { overflow: hidden; padding-left: 12px; }
.footer .partner .pic a { background: #5439ab; height: 51px; width: 131px; float:left; margin-left: 10px; overflow: hidden; margin-top: 10px;}
.footer .partner .pic img {width: 100%; height:100%;}
.footer .logo { padding-top: 22px; text-align:center; }
.sub_table{margin: 0 auto;line-height: 60px;}
.sub_table .tle_td{text-align: right;padding-right: 20px;}
.sub_table input{height: 48px;border: none;background: #fff;border-radius: 3px;-webkit-border-radius: 3px;text-indent: 10px;width: 410px;font-size: 18px;}
.sub_table .mobile_input{width: 320px;}
.sub_table button{background: #0dc980;width: 300px;border: none;border-radius: 3px;-webkit-border-radius: 3px;color: #fff;height: 48px;font-size: 22px;vertical-align: middle;}
.sub_table .send_msg{width: 90px;}
.sub_table select{
	appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background: url("../images/arrow_down.png") no-repeat scroll right center transparent;
  background-color: #fff;
  padding-right: 14px;
  height: 48px;
  width: 410px;
  text-indent: 10px;
  font-size: 18px;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }
.point{color:red;margin: 0 3px;}
.vm{display:table-cell; width:174px; height:315px;vertical-align:middle;padding: 0 10px;text-align: center;}
.vm span{display:inline-block; vertical-align:middle;}
#m4{overflow: hidden;}
#m4 div{margin-top: 325px;color: #0ee793;padding-left: 70px;}
#m4 div span{display: inline-block;width: 128px;text-align: center;}


