@import url("../common.less");
html,body{.f(.24rem);.h(100%);.hidden;font-family: Arial;}
.pages_container{.h(100%);
	&.tz{.transition(all .6s);}
	.page_item{.h(100%);.pr;
		&:nth-child{
			&(1){background:url("../image/p1.png") no-repeat;background-size: cover;}
			&(2){background:url("../image/p2.png") no-repeat;background-size: cover;}
			&(3){background:url("../image/p3.png") no-repeat;background-size: cover;}
			&(4){background:url("../image/p4.png") no-repeat;background-size: cover;}
			&(5){background:url("../image/p5.png") no-repeat;background-size: cover;}
			&(6){background:url("../image/p6.png") no-repeat;background-size: cover;}
			&(7){background:url("../image/p7.png") no-repeat;background-size: cover;}
			&(8){background:url("../image/p8.png") no-repeat;background-size: cover;}
		}
	}
}