@import url("../common.less");
@green:#00d683;
html,body{.f(.24rem);.h(100%);.hidden;font-family: Arial;color:#fff;}
.share_mask{.pa;width: 100%;height: 100%;left: 0;top:0;z-index: 10;background: url("../image/share_bg.png") no-repeat;background-size: cover;background-color: rgba(0,0,0,.8);display: none;}
.pages_container{.h(100%);
	&.tz{.transition(all .6s);}
	.page_item{.h(100%);.pr;.hidden;
		&:after{.pa;
			content:'';
			.w(2.41rem);
			.h(.74rem);
			left: 50%;
			.transform(translateX(-50%));
			background:url("../image/footer.png") no-repeat;background-size: cover;
			bottom: .3rem;
		}
		&:last-child{
			&:after{.none;}
		}
		&:nth-child{
			&(1){background:url("../image/p1.png") no-repeat;background-size: cover;}
			&(2){background:url("../image/p2.png") no-repeat;background-size: cover;}
			&(3){background:url("../image/p3.png") no-repeat;background-size: cover;}
			&(4){background:url("../image/p4.png") no-repeat;background-size: cover;}
			&(5){background:url("../image/p5.png") no-repeat;background-size: cover;}
			&(6){background:url("../image/p6.png") no-repeat;background-size: cover;}
			&(7){background:url("../image/p7.png") no-repeat;background-size: cover;}
			&(8){background:url("../image/p8.png") no-repeat;background-size: cover;}
		}
		.share_wrap{.mt(7.7rem);
			.share_btn{.w(5.5rem);.c;.f(.3rem);.fb;.l(.86rem);.auto;.bgc(@green);.border-r(.06rem);}
		}
		.partner_wrap{.w(5.5rem);.hidden;.auto;.mt(.5rem);
			.scroll_wrap{white-space: nowrap;
				.Animate(@name:ss,@duration:15s,@timingfunction:linear,@delay:0s,@count:infinite,@direction:normal, @fillmode:none);
				@-webkit-keyframes ss{
					0%{.transform(translateX(100%));}
					100%{.transform(translateX(-100%));}
				}
				img{height: .5rem;}
			}
		}
		.tip{.c;.fc(#765fcc);line-height: 200%;}
		.sub_table{.auto;.f(.3rem);.l(1rem);.mt(1.8rem);
			input{.h(.88rem);.w(5.5rem);.border-r(.05rem);border: none;text-indent: .1rem;.f(.3rem);box-sizing: border-box;vertical-align: middle;}
			select{.h(.88rem);.f(.3rem);.w(5.5rem);box-sizing: border-box;
				text-indent: .1rem;
				appearance:none;
				-moz-appearance:none;
				-webkit-appearance:none;
				background: url("../image/arrow_down.png") no-repeat scroll right center transparent;
				background-color: #fff;
				padding-right: 14px;
				vertical-align: middle;
			}
			.mobile_input{.w(4rem);}
			.tle_td{.w(1.4rem);text-align: left;}
			button{.h(.88rem);border: none;.bgc(@green);color:#fff;.border-r(.05rem);vertical-align: middle;padding: 0 .4rem;.f(.3rem);}
		}
		.p6_scroll_wrap{.w(6.82rem);.auto;.h(5.94rem);.mt(3.1rem);background: url("../image/bankuai_bg.png") no-repeat;background-size: cover;
			.scroll_wrap{.w(5.6rem);.auto;.h(5.94rem);.hidden;}
			.scroll_w{white-space: nowrap;font-size: 0;width: 1000%;.transition(all .6s);
				.s_item{.w(5.6rem);.h(5.94rem);.left;overflow: hidden;
					.s_tle{.f(.38rem);.fb;.c;.bgc(@green);.l(.88rem);.pr;.mb(.2rem);
						&:before{.h(1px);background: #fff;width: 4.1rem;content:'';.pa;left: 50%;top: 50%;.transform(translateX(-50%));z-index: 1;}
						&>span{background: @green;.pr;z-index: 10;padding: 0 .1rem;}
					}
					.desc1{.f(.3rem);.fc(#2a1969);.c;.l(150%);}
					.desc2{.f(.24rem);.fc(#2a1969);.c;.l(150%);}
					.notice{border:1px solid @green;.w(5rem);.auto;.mt(.1rem);line-height: 150%;.f(.3rem);.fc(#2a1969);.pr;border-bottom: none;padding-bottom: .1rem;.bgwhite;padding-top: .2rem;.mb(.3rem);.c;
						h3{.c;.f(.3rem);.l(.6rem);}
						p{white-space:normal;padding: 0 .24rem;}
						.n_foot{.bgwhite;
							.pa;border: 1px solid @green;border-top: none;height: .2rem;width: 4.8rem;left: -1px;bottom: -.2rem;
							&:after{.bgwhite;
								content:'';.pa;
								border-top: 1px solid @green;
								width: .2rem;
								right: -.2rem;
								top: 0;
							}
							&:before{
								content:'';.pa;
								border-top: 1px solid @green;
								width: .3rem;
								height: .3rem;
								right: -.36rem;
								top: .06rem;
								.transform(rotate(-45deg));
							}
						}
					}
				}
			}
			.man_s_wrap{.pr;
				.man_show{.w(4.2rem);.hidden;.auto;
					.man_list{.f(0);white-space: nowrap;-webkit-tap-highlight-color: rgba(0,0,0,0);
						&.tz{
							.transition(all .6s);
						}
						.man_item{.w(1.93rem);.h(3.15rem);.pr;.i_block;margin: 0 .1rem;}
						.man_img{.block;.w(100%);.h(100%);}
						.man_name{.l(.4rem);.f(.18rem);.white;.bgc(@green);bottom: 0;left: 0;width: 100%;.c;.pa;}
					}
				}
				.lbtn_wrap{.pa;.w(.8rem);.h(.8rem);top:40%;left: 0rem;padding-top: .4rem;}
				.rbtn_wrap{.pa;.w(.8rem);.h(.8rem);top:40%;right: 0rem;padding-top: .4rem;}
				.left_btn{background: url("../image/l_btn.png") no-repeat center; background-size: cover;.auto;.w(.21rem);.h(.34rem);}
				.right_btn{background: url("../image/r_btn.png") no-repeat center; background-size: cover;.auto;.w(.21rem);.h(.34rem);}
			}
		}
		.dot_wrap{.c;font-size: 0;line-height: .8rem;
			&>div{
				background-color: #554787;margin: 0 .05rem;
				.w(.12rem);.h(.12rem);.border-r(50%);.i_block;
				&.act{background-color: @green;}
			}
		}
	}
}
.green_f{color: @green;}